<head>
  <title>Stephanie Liu</title>
  <base href="{{site.url}}{{site.baseurl}}">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/vendor/monokai.theme.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
</head>