{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% if page.shortUrl != null %}
    {% assign url = page.shortUrl %}
{% endif %}
<div class="share-buttons">
  <a
    class="share-buttons__link"
    href="https://www.facebook.com/sharer/sharer.php?u={{url}}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Facebook" >
    <i class="ion-social-facebook"></i>
  </a>

  <a
    class="share-buttons__link"
    href="https://twitter.com/intent/tweet?url={{url}}{% if page.description %}&text={{ page.description | url_escape }}%20by%20@{{site.twitter_username}}{% else %}{{ page.title | url_escape }}{% endif %}by%20@{{site.twitter_username}}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Twitter" >
    <i class="ion-social-twitter"></i>
  </a>

  <a
    class="share-buttons__link"
    href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{url}}"
    title="Share via Email" >
    <i class="ion-paper-airplane"></i>
  </a>
</div>
