body {
  display: flex;
  flex-direction: column;
}

.hero {
  color: $shuttle-gray;

  &__paragraph {
    font-size: 1.2rem;
    margin-bottom: 0.4em;

    @media #{$mobile} {
      font-size: 1.1rem;
    }
  }

  &__name {
    color: $gray;
  }

  &__hi {
    margin-bottom: 0.5em;
  }

  &__intro {
    line-height: 1.4;
    margin-bottom: 1em;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 22px;
  box-sizing: border-box;

  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--main,
  &--frontpage {
    flex: 1;
    padding: 70px 22px;
  }

  &--frontpage {
    display: flex;
    align-items: center;
  }

  &--footer {
    margin: 35px auto;
  }
}

.nav {
  padding: 1.17em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($background-color, 0.9);
  border-bottom: 1px solid $mercury;
  z-index: 100;

  &__list {
    color: $nobel;
    font-size: 0.9rem;
  }

  &__list-item {
    letter-spacing: 2px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  &__logo-link {
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $dark-blue;

      .nav__ramenhog {
        path {
          fill: currentColor;
        }
      }
    }
  }

  &__ramenhog {
    width: 50px;
    margin-right: 10px;

    path {
      fill: $shuttle-gray;
    }
  }
}

.pagination {
  border-top: 1px solid $mercury;
  margin-top: 30px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  color: $nobel;
}
