.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 22px;
  box-sizing: border-box;

  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--main {
    padding-top: 80px;
    padding-right: 80px;
  }
}

.post {
  margin: 80px 0;

  &__title {
    position: relative;
    margin-bottom: 24px;
    font-family: "PT Sans", sans-serif;

    a {
      background: #fff;
      padding-right: 1em;
    }
       

    &:after {
        content: "";
        width: 100%;
        height: 4px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
  }
  
  &__date {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #d2d0d0;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
  }

  &__content {
    margin: 24px 0;
  }
}

.nav {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 100;

  &__social-list {
    display: flex;
    align-items: center;
  }

  &__social-link {
    margin-left: 20px;
  }
}

img {
  width: 114%;
  margin-left: -7%;
}

