.posts {
  margin-bottom: 130px;
}

.post {
  margin: 5rem 0 0;

  @media #{$mobile} {
    margin: 2rem 0 0;
  }

  &__title {
    position: relative;
    margin-bottom: 24px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;

    a {
      background: $background-color;
      padding-right: 1em;
    }
       

    &:after {
        content: "";
        width: 100%;
        height: 4px;
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
  }

  &__title-link {
    position: relative;
    &:hover {
      &:before {
        content: "";
        top: 0.4em;
        left: 0.4em;
        background-color: $blue; 
        position: absolute;
        width: 90%;
        height: 1em;
        z-index: 0;
      }
    }
  }

  &__title-text {
    position: relative;
    z-index: 1;
  }
  
  &__date {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: $nobel;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
  }

  &__content {
    margin: 24px 0;

    a {
      font-weight: 600;
      border-bottom: 1px solid currentColor;

      &:hover {
        color: $dark-blue;
      }
    }
    
    p {
      margin-top: 30px;
      line-height: 2;

      @media #{$mobile} {
        font-size: 1.2rem;
      }
    }

    img,
    .image {
      display: block;
      margin: 20px auto;
      width: 114%;
      margin-left: -7%;

      &--small {
        margin: 20px auto;
        width: 70%;
      }

      &+ em {
        margin: -10px 0 20px;
        color: $nobel;
        font-size: 0.9rem;
        text-align: center;
        display: block;
      }
    }
  }

  &__continue {
    display: flex;
    justify-content: flex-end;
    color: $nobel;
    line-height: 1.4;
  }
}
