$magenta:                               #9E1946;
                        
$gray:                                  #333;
$shuttle-gray:                          #646C77;
$nobel:                                 #b3b3b3;
$alto:                                  #d2d0d0;
$mercury:                               #e2e2e2;
$alabaster:                             #fafafa;
$white:                                 #fff;

// functional variables
$background-color:                      $white;
$link-hover:                            $magenta;


$ipad:                                'screen and (max-width: 800px)';
$mobile:                                'screen and (max-width: 500px)';